body{
    background: rgb(20,106,210);
background: -moz-radial-gradient(circle, rgba(20,106,210,1) 0%, rgba(11,68,135,1) 100%);
background: -webkit-radial-gradient(circle, rgba(20,106,210,1) 0%, rgba(11,68,135,1) 100%);
background: radial-gradient(circle, rgba(20,106,210,1) 0%, rgba(11,68,135,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#146ad2",endColorstr="#0b4487",GradientType=1);
    color: #aaa;
    font-size: 18px;
}

.container {
    display: flex;
}
.tokenHeader{
    width: 90%;
    margin: 0 auto;
    height: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 5px 5px black;
}


.userData{
    width: 25%;
    padding: 15px;
    background: rgba(34, 51, 206, 0.678);
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 5px 5px black;
}


.makeTransaction{
    width: 40%;
    padding: 15px;
    background: rgba(34, 51, 206, 0.678);
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 5px 5px black;
}


.randomNumber{
    width: 25%;
    padding: 15px;
    background: rgba(34, 51, 206, 0.678);
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 5px 5px black;
}

.contractEthBalance{
    width: 25%;
    padding: 15px;
    background: rgba(34, 51, 206, 0.678);
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 5px 5px black;
}

.funding{
    width: 25%;
    padding: 15px;
    background: rgba(34, 51, 206, 0.678);
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 5px 5px black;
}